.contact-banner{
    position: relative;
    top: -40px;
    background-color: white;
    box-shadow:3px 3px 3px 3px #ccc;
}
.contact-banner-col{
    padding: 45px 0px 45px 0px;
}
.contact-banner-div{
    padding-left: 20px;
}
.contact-banner-title{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    padding: 5px 0px 10px 0px;
    color:#1e3f50;
}
.contact-banner-text{
    font-family:  'Open Sans', sans-serif;
    line-height: 30px;
}
.contact-banner-text1{
    padding-top: 15px;
    color: #000;
    font-size: 17px;
}
.contact-banner-maps{
    color: #000;
    transition: all 0.4 ease;
}
.contact-banner-maps:hover{
    color:rgb(39, 39, 39);
    text-decoration: none;
}
.contact-section{
    padding: 50px 0px 50px 0px;
}
.contact-social ul{
    display: flex;
    word-spacing: 30px;
}
.contact-social ul li{
    list-style: none;
    font-size: 25px;
   
}
.contact-Navlink1{
    padding: 25px;
}
.contact-social-icons{
    color:#425a0d;
    transition: all 0.4s ease;
}
.contact-social-icons:hover{
    color:#1e3f50;
}
.contact-details{
    padding-left: 80px;
    font-family: 'Open sans' sans-serif;
    font-size: 18px;
    color: #000;
}
.contact-details-title{
    font-size: 30px ;
    padding-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    color:#1e3f50;
}
.contact-form{
    padding: 20px 40px 20px 40px;
}
.contact-form-title{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color:#1e3f50;
}
.contact-details-address{
    font-size: 18px;
    padding-bottom: 20px;
}
.contact-details-subtitle{
    display: block;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color:#1e3f50;
}
.contact-detail-span{
    padding-bottom: 20px;
    color:rgb(73, 72, 72);
}
.inputfield{
    width: 100%;
    height: 50px;
    border-radius: 1px solid rgb(182, 181, 181) ;
    margin: 15px 0px 15px 0px;
    /* background-color: transparent; */
}
.inputfield:focus{
    border-radius: 1px solid #425a0d !important;
}
.textarea{
    width: 100%;
    margin-top: 15px;
}
.checkboxdiv{
    padding: 20px 0px 20px 0px;
}

.checkbox{
    margin-left: 12px;
    
}
.contact-map-background{
    background: linear-gradient(180deg, rgba(6, 66, 77, 0.443), rgba(12, 60, 61, 0.443)),url("https://res.cloudinary.com/aitechma/image/upload/v1595261562/Consulting/contactmapimage_rfbwjx.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.contact-map-title{
    padding-top: 70px;
    color: white;
    font-family: 'Lustria' serif;
    font-size: 60px;
}
.contact-map{
    padding-top: 60px;
}
.google-map{
    box-shadow:3px 3px 3px 3px #ccc;
}