
.footer-banner{
    background-color: #425a0d;
    padding: 40px 0px 50px 0px;
    text-align: center;
}
.footer-banner-text{
    color: white;
    font-family:  'Lustria',serif;
    font-size: 37px;
    font-weight: bold;
    padding-bottom: 40px;
}
.signUpButton{
    background-color:  #0e0829;
    color: white;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    font-family: 'Lustria',serif;
    border-radius: 30px;
    transition: all 0.1s ease;
}
.signUpButton:hover{
    text-decoration: none;
    color: white;
    background-color: #293869;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)); */
}

/* section2 start here */
.footersection2{
    position: relative;
    background-color:  #0e0829;
    box-sizing: border-box;
    color: #d8d4d2;
    font-family: 'Open Sans', sans-serif;
}
.footer-container{
    padding: 60px 0px 60px 0px;
}
.footer-title{
    color: #eae6e4;
    font-family: 'Lustria',serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7em;
}
.footer-hr{
    width: 40%;
    position: relative;
    top: -10px;
    border-top: 2px solid #425a0d;
}
.footer-text{
    padding: 20px 0px 10px 0px;
    font-size: 17px;
    line-height: 30px;

}
.footer-column .footer-text h6{
    color:#d8d4d2;
}
.footer-column ul li{
    list-style: none;
}
.footer-nav{
    color: #d8d4d2;
}
.footer-nav:hover{
    text-decoration: none;
    color: #a19e9e;
}

.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.abraolas, .abraolas:hover{
    color: whitesmoke;
    text-decoration: none;
}
.footer-social ul{
    display: inline-flex;
    left: 40%;
}
.footer-social ul li{
    list-style: none;
    padding: 20px;
}
.social-icons{
    color:  white;
    font-size: 25px;
}
.social-icons:hover{
    color: #425a0d;
}
.copyrightdiv{
    padding-top: 30px;
}
.copyright .copyrightnav{
    color: rgb(160, 153, 153);
    padding: 0px 10px 0px 10px;
    font-size: 18px;
}
.copyright .copyrightnav:hover{
    color:rgb(141, 136, 136);
    text-decoration: none;
}