* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0; 
}
.Slider{
  overflow: hidden;
  z-index: none;
  /* display: relative; */
}
h1{
font-size: 70px !important;
line-height: 90px;
font-weight: bold;
color: rgb(105, 76, 26);
letter-spacing: 0px;
font-family:'Lustria', serif;
}
h3{
  color: #000;
  font-family: 'Lustria', serif;
  font-size: 50px !important;
}
h4{
  color: #000;
  font-family: Lustria,serif;
  font-weight: 400;
  font-size: 35px !important;
}
p{
  padding: 15px 0px 15px 0px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}
.background-text p{
min-width: 689px;
max-width: 689px;
white-space: normal;
margin-bottom: 20px !important;
}

.button-primary{
  color: white;
  background-color: rgb(105, 76, 26);
  padding: 10px 30px 10px 30px!important;
  text-transform: uppercase;
  border-radius: 20px;
  transition: all .2s;
  font-family: 'Lustria', serif;
}
.button-primary:hover{
  display: inline-block;
  transform: scale(1.1);
  text-decoration: none;
  color: white;
}
.button-primary1{
  border: none;
}
.header-text-hr{
  border-top: 2px solid rgb(105, 76, 26);
  max-width: 15%;
  position: relative;
  top: -30px;
  left: 43%;
  /* padding: 0px 70% 0px 70%; */
}
@media screen and (max-width: 780px){
  .background-text p{
    min-width: 400px;
    max-width: 400px;
  }
  .whatclientsaysdiv{
    left: 20% !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 800px){
  .whatclientsaysdiv{
    left: 32% !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 900px){
  .whatclientsaysdiv{
    left: 35% !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}