
.background-image1{
    background: linear-gradient(180deg, rgba(6, 66, 77, 0.443), rgba(12, 60, 61, 0.443)),url("https://res.cloudinary.com/aitechma/image/upload/v1597070900/Consulting/background-1_bvlax6.png");
}
.background-image2{
    background: linear-gradient(180deg, rgba(6, 66, 77, 0.443), rgba(12, 60, 61, 0.443)),url("https://res.cloudinary.com/aitechma/image/upload/v1597669024/Consulting/backgr2_ubd3bc.png");
}

.background-pictures{
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
}
.homeslides{
    position:absolute;
}
.homeslides .slick-prev{
    position:relative;
  
}
.homeslides .slick-prev{
    left:5% !important;
    z-index:1;
}
.homeslides .slick-next{
    right:5% !important;
    z-index:1;
}
.background-header{
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}
.background-text p{
    font-size: 21px;
    letter-spacing: 0px;
    color:rgb(214, 213, 213);
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 30px 0px;
}

.background-text{
    text-align: inherit;
    padding-top: 110px;
}

/* background css ends here. another section starts here */

.header-text{
    padding-top: 60px;
    font-size: 40px;
    color:#1e3f50;
    
}
.practice-area-items{
   padding: 20px 0px 20px 0px;
   border: 1px solid #1e3f50;
   margin-bottom: 10px;
   height: 310px;
   background:transparent;
}
.practice-area-items:hover{
    background:linear-gradient(180deg, rgba(4, 61, 83, 0.443), rgba(10, 53, 82, 0.443)), url("https://res.cloudinary.com/aitechma/image/upload/v1597265322/Consulting/servicebackground_fs506c.png");
}
.practice-area-items:hover .practice-area-title{
    color:#1e3f50 ;
    opacity: 0.3;
}
.practice-area-items:hover .practice-area-text{
    opacity: 1;
    color: #1d2951;
    z-index: 1;
    opacity: 0.3;
}
.practice-logo{
    font-size: 55px;
    color: #1e3f50;
}
.practice-area-logo{
    padding: 30px 0px 10px 0px;
}
.practice-area-title{
    color: #1e3f50;
    font-family: 'Rubik', sans-serif;
    font-size: 19px ;
}
.practice-area-text{
    color: rgb(78, 78, 78);
    padding: 15px 10px 15px 10px;
    font-size: 17px;
    text-align: center;
}

.service-hover-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0); 
    transition: all 0.3s linear;
    color:#1e3f50;
    font-size: 23px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid white;
    padding: 5px 5px;
    background-color: #649200;
}
.service-hover-link:hover{
    text-decoration: none;
    color:#1e3f50;
}
.practice-area-items:hover .service-hover-link {
    transform: translate(-50%, -50%) scale(1);
}
/* css for emergency calls */
.emergency-calls{
    background-color: #1e3f50; 
}
.emergency-call{
    font-size: 25px;
    padding: 50px 0px 50px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.emergency-col{
    text-align: left;
    color: white;
}

/* another section starts here we are there for you section */
.we-are-there{
    padding-top: 8%;
}
.we-are-there-title{
    color: #1e3f50;
    font-size: 30px;
}
.we-are-there-text1{
    line-height: 27px;
    text-align: justify;
}
.we-are-there-text2{
    line-height: 27px;
    text-align: justify;
    color: rgb(80, 79, 79);
}
.we-are-there-pic{
    border-radius: 20px;
}

/* another section starts here what-clients says starts here */
.what-client-says{
    background: url("https://res.cloudinary.com/aitechma/image/upload/v1594297119/Consulting/clientsays_cozvxn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.slick-slide img{
    display: block;
    text-align: center;
}

.whatclientsaysdiv{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    left: 42%;
}
.whatclientsaysdiv .whatClientsaysPic{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.whatclientsaysrow h4{
    font-size: 25px!important;
    padding-top: 25px !important;
}
.whatclientsaysrow  p{
  padding: 12px 18% 13px 18%;
}
/* css for homepage blog */
.blog-card-img{
    height: 170px;
    width: 100%;
}
.blog-card-body .card-subtitle{
    padding-top: 30px;
    color:#649200;
    font-size: 15px;

}
.blog-card-body .card-title{
    padding: 10px 0px 0px 0px;
    font-size: 17px;
    color: #1e3f50;
}
.blog-card-body .card-title:hover{
    color:#649200;
}
.blog-card-body p{
    font-size: 15px;
    padding: 5px 0px;
}
.blog-card-link{
    color:#1e3f50;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-right: 15px;
}
.blog-link{
    display: inline-block;
    color: #1e3f50;
    position: relative;
    top:-10px;
}
.blog-link:hover .blog-card-link{
    padding-right: 0px;
    text-decoration: none;
}
.blog-link:hover .blog-card-link, .blog-link:hover .blog-link-icon{
    color: #649200;
    transition: all 1s;
}
.blog-link-span{
    font-size: 20px;
    color:#000;
}
.ahref{
    color: black;
}
.blog-card-hr{
    border-top: 2px solid #53691e;
    width: 30%;
    position: relative;
    top: -10px;
}