.faqbody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15,83,153);
  margin: 0 auto;

}
.accordion{
  width: 100%;
  box-shadow: 1px 1px 4px 1px blue ;
  margin: 10px;

}
.faq-ques{
  background-color: gray;
  padding: 10px;
  color: #fefefe;
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid
}

.faq-ques:hover
{
  background-color: #424242;
}
.content{
  background-color: lightblue;
  transition: all 0.5s ease-in-out;
  height: 0px;
  overflow: hidden;
}
.content p{
  padding: 10px;
}
.showContent{
  height: 170px;
  overflow-y: scroll;
}